<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Escolher modo de pagamento</h3>
</div>
<div class="modal-body row" id="modal-body">
        <uib-tabset >
           <uib-tab index="$index" ng-repeat="epoca in epocas" heading="{{epoca.Nome}}">
             <div>
               <p><strong>Escolher modo de pagamento</strong></p>
               <div class="panel panel-default col-md-3 margin-r-5" ng-repeat="modo in epoca.ModosPagamento">
                 <div class="panel-title">{{modo.Descricao}}</div>
                 <div class="panel-body">
                   <ul class="basic-list">
                     <li ng-repeat="pagamento in modo.Pagamentos">
                       <strong>{{pagamento.Descricao}}:</strong> {{pagamento.Valor}}  &euro;
                       <span ng-if="pagamento.DataLimite"><br /><strong>Data limite:</strong> {{pagamento.DataLimite}}</span>
                       <span ng-if="pagamento.ValorPosLimite"><br /><strong>Valor Pós Limite:</strong> {{pagamento.ValorPosLimite}}</span>
                       <span ng-if="pagamento.Benificio"><br /><strong>Benificio:</strong> {{pagamento.DescricaoBenificio}}</span>
                     </li>
                   </ul>
                 </div>
                 <div class="panel-footer">
                   <button type="button" class="btn btn-sm btn-default btn-block" ng-click="escolherModoPagamento(modo.IDModo, epoca.ID_epoca)">Escolher</button>
                 </div>
               </div>

             </div>
           </uib-tab>
        </uib-tabset>
      </div>

<div class="modal-footer">
<!--  <button class="btn btn-default btn-sm" ng-click="ok()"><i class="fa fa-trash"></i> Guardar</button>-->
  <button class="btn btn-info btn-sm" ng-click="cancel()"><i class="fa fa-times"></i> Fechar</button>
  </div>
